.selfcare-item {
    border-bottom: 1px solid blue;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

li {
    display: list-item;
    margin-left: 20px;
    list-style-type: circle;
}

.del-button {
    padding: 0px;
    margin: 0px;
    background-color: white;
    height: 30px;
}

#delete-icon {
    height: 30px;
    width: 30px;;
}